<section id="add">
  <form action="/create" method="post">
    <textarea name="title" placeholder="Title of task&hellip;"></textarea>
    <textarea name="url" placeholder="Url of task&hellip;"></textarea>
    <input type="submit" value="Task it!">
  </form>
</section>

<% # display tasks %>
<% @tasks.each do |task| %>
  <% task_status ="running" if !task.volunteer.empty? %>
  <% task_status ="complete" if task.complete %>
  <article class="<%= task_status %>">
    <p>
      <h2><%= task.title %> 
      <span><a href="/<%= task.id %>">[edit]</a></span>
      </h2>
    </p>
    <p class="meta">
      volunteer: <%= task.volunteer %></span>
    </p>  
    <p class="meta">
      <a href="<%= task.url %>"><%= task.url %></a>
    </p>
    <p class="links">
        <a href="/<%= task.id %>/complete">&#8623;</a>
    </p>
  </article>
<% end %>
