<section id="add">
  <form action="/create" method="post">
    <textarea name="title" placeholder="Title of task&hellip;"></textarea>
    <textarea name="url" placeholder="Url of task&hellip;"></textarea>
    <input type="submit" value="Task it!">
  </form>
</section>

<% # display tasks %>
<% @tasks.each do |task| %>
  <article <%= 'class="complete"' if task.complete %>>
    <p>
      <%= task.title %>
      <span><a href="/<%= task.id %>">[edit]</a></span>
    </p>
    <p class="meta">Url: <%= task.url %></p>
    <p class="meta">Volunteer: <%= task.volunteer %></p>
    <p class="links">
      <a href="/<%= task.id %>/complete">&#8623;</a>
    </p>
  </article>
<% end %>
